body{
    margin: 0px;
    padding: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: honeydew;
 
}
h1{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    text-shadow: 1px 1px 1px green;
    font-size:40px;
    font-family: fantasy;
    
}

table{
    width: 100%;
    border-collapse:collapse;
    display:flex;
    justify-content:center;
    margin-top:100px;
    height:auto;
   
}
td,tr{
    border: 2px solid #000;
    padding:6px;
    font-size:16px;

}
th{
    border:2px solid #000;
    padding: 5px;
    font-size: 18px;
   
}
table tr:nth-child(2){
    background-color:#008000;
}
table tr:nth-child(3){
    background-color:#90ee90;
}
table tr:nth-child(4){
    background-color:#008000;
}
table tr:nth-child(5){
    background-color:#90ee90;
}
table tr:nth-child(6){
    background-color:#008000;
}
table tr:nth-child(7){
    background-color:#90ee90;
}


